.grain-effect {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.zoom-in img {
  animation: zoomIn 0.7s forwards;
}

.zoom-out img {
  animation: zoomOut 0.7s forwards;
}

