@tailwind base;
@tailwind components;
@tailwind utilities;

/* In index.css */
#root {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}

/* body {
  background-image: url('/path/to/background.jpg');
  background-size: cover;
  background-position: center;
  animation: zoomIn 30s infinite linear;
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(0,0,0,0.1), transparent);
  mix-blend-mode: overlay;
} */

body::after {
  content: '';
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(0, 0, 0, 0.1), transparent);
  mix-blend-mode: overlay;
}


/* @keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
} */
